body {
    font-family: 'Itim', cursive;

}
#turtlecanvas, #imagecanvas {
    background-color: yellowgreen;
    width: 100%;
}

#artistcanvas {
    background-color: #80bdff;
    width: 100%;
}

#editor {
    height: 447px;
    width: 100%;
    margin-bottom: 5px;
}
#output {
    background-color: #001f3f;
    color: yellow;
    height: 160px;
    overflow: scroll;
    margin-bottom: 10px;
}
#algorithms {
    max-height: 450px;
    overflow: scroll;
}

#run, #help, #vim, #save, #algorithms li {
    cursor:pointer;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    background: #6c757d;
    padding-top: 10px;
    margin-top: 5px;
}

#turtlemd dt {
    color: darkgreen;
}

#artistmd dt {
    color: #144180;
}

#extramd dt {
    color: #806420;
}

li[name="turtle"] {
    color: yellowgreen;
}

li[name="artist"] {
    color: #80bdff;
}

li[name="output"] {
    color: #001f3f;
}

